$primary-color: #107383;
$secondary-color: #f1c232;
$default-color: #999999;
$background-color: #eeeeee;
$default-color-dark: #666666;
$danger-color: #d9534f;
$primary-light-color: #007acc;
$success-color: green;
