@import 'src/assets/scss/color-palette.scss';

ngx-dropzone {
    margin: 20px;
  
    &.custom-dropzone {
      height: 250px;
      background: rgb(247, 247, 247);
      border: 2px dashed $secondary-color;

      &.hovered {
        border-style: solid;
      }
    }
}