<div class="fluxo-bg">
    <div class="container">
        <ul>
            <li>
                <i class="fas fa-laptop fa-3x"></i>
                <span>Escolha sua máquina</span>
            </li>
            <li>
                <i class="far fa-file-archive fa-3x"></i>
                <span>Envie seu arquivo</span>
            </li>
            <li>
                <i class="fas fa-code fa-3x"></i>
                <span>Execute seu programa!</span>
            </li>
        </ul>
    </div>
</div>