@import 'src/assets/scss/color-palette.scss';

.step-button {
    display: flex;
    justify-content: flex-end;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: $secondary-color; 
}

.mat-list-base {
    display: flex;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: center !important;
}

ngx-dropzone {
    margin: 20px 0;
  
    &.custom-dropzone {
      background: rgb(247, 247, 247);
      border: 2px dashed $secondary-color;

      &.hovered {
        border-style: solid;
      }
    }
}

.upload-info {
  color: #138da1;
}