<div class="container">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informações básicas</ng-template>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <mat-label>Região</mat-label>
            <mat-select formControlName="nomeRegiao">
              <mat-option *ngFor="let regiao of listaRegioes" [value]="regiao.RegionName">
                {{regiao.RegionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <mat-label>Tipo de Instância</mat-label>
            <mat-select formControlName="tipoMaquina">
              <mat-option *ngFor="let tipo of listaTipoInstancias" [value]="tipo">
                {{tipo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Grupo de Segurança" formControlName="grupoSeguranca" required>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Preço" formControlName="precoInstancia" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Image ID" formControlName="imageId" required>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Nome da Máquina" formControlName="nomeMaquina" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Tipo de volume" formControlName="tipoVolume" required>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Tamanho do volume" formControlName="tamanhoVolume" required>
          </mat-form-field>
        </div>
        <div class="step-button">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Envio de Arquivo</ng-template>
        <ngx-dropzone label="Clique ou arraste os arquivos para fazer upload" class="custom-dropzone"
          (filesAdded)="onFilesAdded($event, 1)" [showPreviews]="true">
        </ngx-dropzone>
        <h4 class="upload-info">* Inclua o arquivo para enviar para a instância e o arquivo .pem</h4>
        <div class="step-button">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Concluir</ng-template>
      <mat-card>
        <mat-list>
          <mat-list-item>
            <h4>Total de instâncias</h4>
            <span>1</span>
          </mat-list-item>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </mat-card>
      <div class="step-button">
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="criarInstancia()">Criar instância</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>