<div class="container">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informações básicas</ng-template>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <mat-label>Região</mat-label>
            <mat-select>
              <mat-option *ngFor="let regiao of listaRegioes" [value]="regiao.RegionName">
                {{regiao.RegionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Tipo de máquina" formControlName="firstCtrl2" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Grupo de Segurança" formControlName="firstCtrl3" required>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Preço" formControlName="firstCtrl4" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Image ID" formControlName="firstCtrl5" required>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Nome da Máquina" formControlName="firstCtrl6" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Tipo de volume" formControlName="firstCtrl7" required>
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <input matInput placeholder="Tamanho do volume" formControlName="firstCtrl8" required>
          </mat-form-field>
        </div>
        <div class="step-button">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Envio de Arquivo</ng-template>
        <app-upload></app-upload>
        <div class="step-button">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Concluir</ng-template>
      You are now done.
      <div class="step-button">
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="criarInstancia()">Criar instância</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>