@import '../../../assets/scss/color-palette';

.step-button {
    display: flex;
    justify-content: flex-end;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: $secondary-color; 
}

.mat-list-base {
    display: flex;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: center !important;
}