@import '../../../assets/scss/color-palette';

.div-ferramentas{
    height: 400px;
    h3 {
        font-weight: bold;
    }
    ul li:nth-child(3n+1) {
        clear: left;
    }
    li p {
        font-size: .9em;
    }
    .text-center {
        text-align: center;
    }
    .margem {
        padding: 40px 0 20px 0;
    }
    .cor-primaria {
        color: $primary-color;
    }
    .descricao {
        padding: 0 60px 0 60px;
        .icon {
            display: block;
            position: absolute;
            left: 15px;
            top: 0px;
            line-height: 1;
            font-size: x-large;
            color: #107383;
        }
        img {
            height: 30px;
            width: auto;
        }
        h4 {
            font-weight: bold;
        }
        @media screen and (max-width: 575px) {
            padding: 0 10px 0 60px;
        }
         
    }
}