<div class="div-ferramentas">
  <div class="container">
    <h3 class="text-center margem cor-primaria">Ferramentas utilizadas</h3>
    <ul class="list-unstyled">
      <li class="has-icon">
        <i class="fab fa-python icon"></i>
        <h4>Python</h4>
        <p>
          Python é uma linguagem de programação de alto nível, interpretada, de script, imperativa,
          orientada a objetos, funcional, de tipagem dinâmica e forte.
        </p>
      </li>
      <li class="has-icon">
        <img class="icon" src="assets/img/flask.png" alt="Flask icon">
        <h4>Flask</h4>
        <p>
          Flask é um pequeno framework web escrito em Python e baseado na biblioteca WSGI Werkzeug e na
          biblioteca de Jinja2. Flask tem a flexibilidade da linguagem de programação Python e provê um
          modelo simples para desenvolvimento web.
        </p>
      </li>
      <li class="has-icon">
        <i class="fab fa-github icon"></i>
        <h4>Github</h4>
        <p>
          GitHub é uma plataforma de hospedagem de código-fonte com controle de versão usando o Git. Ele
          permite que programadores, utilitários ou qualquer usuário cadastrado na plataforma contribuam
          em projetos privados e/ou Open Source de qualquer lugar do mundo.
        </p>
      </li>
      <li class="has-icon">
        <i class="fab fa-aws icon"></i>
        <h4>Amazon AWS</h4>
        <p>
          Nesse ambiente, são disponibilizados diversos serviços, como de armazenamento, banco de dados,
          analytics e computação. No presente trabalho, foi utilizado o serviço de computação, no qual
          oferece os recursos para o uso de máquinas virtuais.
        </p>
      </li>
      <li class="has-icon">
        <i class="fab fa-linux icon"></i>
        <h4>Linux</h4>
        <p>
          Linux é um termo popularmente empregado para se referir a sistemas operativos ou sistemas
          operacionais que utilizam o Kernel Linux.
        </p>
      </li>
      <li class="has-icon">
        <i class="fab fa-angular icon"></i>
        <h4>Angular</h4>
        <p>
          O Angular é um framework JavaScript que simplifica não apenas a construção da interface de
          usuário, mas também o desenvolvimento de aplicações client-side diferenciadas, sejam elas para a web, mobile ou desktop.
        </p>
      </li>
    </ul>
  </div>
</div>